.main-container {
  width: 480px;
  height: 320px;
  margin-bottom: 50px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; /* 변경된 배경색 */
  color: #333333; /* 변경된 기본 텍스트 색상 */
}

.session,
.db {
  font-size: 28px;
  margin-top: 15px;
  color: #333333; /* 변경된 기본 텍스트 색상 */
}

button[type='submit'] {
  box-sizing: border-box;
  width: 80%;
  outline: none;
  padding: 8px;
  border-radius: 1px;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: bold;
  border-color: #81c784; /* 변경된 성공 메시지 색상 (예시로 적용) */
  background-color: #81c784; /* 변경된 성공 메시지 색상 (예시로 적용) */
  color: white;
  cursor: pointer;
}
